@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply bg-zinc-900 text-white;
  }
}

@layer components {
  .sectionContainer {
    @apply w-11/12 mx-auto mt-6;
  }

  /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
  /** {
  scrollbar-width: thin;
  scrollbar-color: #9E3333 #686259;
}*/

  /* Chrome, Edge and Safari */
  .styleScrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .styleScrollbar::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #686259;
  }

  .styleScrollbar::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
  }

  .styleScrollbar::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
  }

  .styleScrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #9e3333;
  }

  .styleScrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #62a34b;
  }

  .styleScrollbar::-webkit-scrollbar-thumb:active {
    background-color: #62a34b;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 30px;
  }
  .embla__slide {
    flex: 0 0 250px;
    min-width: 0;
  }
}
